# Показываем пример, куда нужно вставить токен Telegram-бота.
BOT_TOKEN=вставьте_сюда_токен_бота

# Показываем пример, куда нужно вставить ключ сервиса валют.
EXCHANGE_RATE_API_KEY=вставьте_сюда_ключ_сервиса_валют