# Не загружаем виртуальное окружение в Git.
.venv/

# Не загружаем файл с секретами в Git.
.env

# Не загружаем кэш Python.
__pycache__/

# Не загружаем скомпилированные Python-файлы.
*.pyc

# Не загружаем локальную базу данных.
*.db

# Не загружаем служебные файлы PyCharm.
.idea/