# Устанавливаем современный фреймворк для Telegram-ботов.
aiogram==3.26.0

# Устанавливаем библиотеку для асинхронных HTTP-запросов.
aiohttp==3.13.5

# Устанавливаем библиотеку для чтения переменных окружения из файла .env.
python-dotenv==1.2.2